


#pp_full_res .pp_inline p
{
	font-family:Georgia;
	margin:0 0 19px !important;
}

*html .boxTop
{
	margin-bottom:-2px;
}

.boxBody div li
{
	padding:5px 0;
}

.boxBody div ul
{
	list-style-type:none;
	margin:10px 40px 10px 10px;
	padding:0;
}

.boxBody div ul li.last
{
	border-bottom:none;
}

.boxBody div.show,.boxBody #category a,ul.external_posts li span
{
	display:block;
}

.boxBody li a
{
	display:block;
	word-wrap:break-word;
}

.boxBody li span
{
	background-color:#EEEEEE;
	color:#333333;
	display:block;
	margin-bottom:2px;
	margin-left:-10px;
	padding:1px 5px 1px 10px;
}

.boxBody li.title
{
	font-family:Georgia;
	font-size:16px;
	font-weight:bold;
}

.boxBody li.type span
{
	-moz-border-radius:5px;
	background-color:#758200;
	color:#FFFFFF;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	margin-left:0;
	margin-right:5px;
	padding:2px 5px 30px;
}

.boxTop,.boxBottom
{
	height:11px;
}

/* Misc */

.member
{
	-moz-border-radius:3px;
	background-color:#FFFFFF;
	border:1px solid #EEEEEE;
}

.member .name
{
	color:#002D63;
	font-weight:bold;
}

.member .salary
{
	color:#000000;
	font-family:Georgia;
	font-style:italic;
}

.name
{
	color:#000000;
	font-weight:bold;
}

.pp_bottom,.pp_top,div.ppt
{
	display:none !important;
}

.pp_content
{
	height:auto !important;
}

.pp_content_container .pp_details
{
	float:right !important;
	margin:-42px 15px 0 0 !important;
	width:auto !important;
}

/* Provenance box */
.prov-container
{
	bottom:0;
	left:0;
	margin:0;
	padding:0;
	position:absolute;
}

.prov-tabs
{
	clear:both;
	height:35px;
	margin:0;
	opacity:0.9px;
	padding:0;
	text-align:left;
}

.prov-tabs a
{
	background-color:#CCCCCC;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	color:#333333;
	display:block;
	float:left;
	margin:2px 0 0;
	padding:3px 10px 15px;
}

.prov-tabs a.title,.prov-tabs a.title:hover
{
	-moz-border-radius-topleft:0;
	background-color:#FFFFFF;
	border-left:medium none;
	border-right:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	color:#333333;
	font-size:10px;
	font-weight:bold;
	margin-right:0;
	padding-bottom:5px;
	padding-left:5px;
	text-align:justify;
	text-transform:uppercase;
	width:45px;
}

.prov-tabs a:hover
{
	background-color:#FFFFFF;
	color:#333333;
}


/* div#layout */
div#layout
{
	left:280px;
	position:absolute;
	text-align:center;
	top:15px;
}

div#layout table
{
	margin:0;
}

div#layout table tr td
{
	text-align:left;
}

/* left pane*/
div#leftPane
{
	height:100%;
	position:fixed;
	width:270px;
	z-index:8999;
}

/* Unit List */
div#postList
{
	background:none repeat scroll 0 0 #FFFFFF;
	display:none;
	left:0;
	max-height:350px;
	opacity:0.9px;
	overflow-y:auto;
	padding:0;
	position:absolute;
	width:271px;
}

div#postList ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

div#postList ul li a
{
	border-bottom:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
	color:#333333;
	display:block;
	padding:3px 10px;
	text-align:left;
	text-decoration:none;
}

div#postList ul li a:hover,div#postList ul li a.active
{
	background-color:#333333;
	color:#FFFFFF;
}


div.G3,div.panel div.content p.grade span.G3
{
	background-color:#C2FFC1;
}

div.G5,div.panel div.content p.grade span.G5
{
	background-color:#C1D5FF;
}

div.SCS,div.panel div.content p.grade span.SCS
{
	background-color:#FFC1C1;
}

div.dataSource
{
	background:none repeat scroll 0 0 #FFFFFF;
	border-right:1px solid #FFFFFF;
	border-top:1px solid #FFFFFF;
	display:none;
	font-family:Trebuchet MS;
	font-size:12px;
	opacity:0.9px;
	text-align:left;
	width:270px;
	z-index:9999;
}


div.external_overlay
{
	background-color:#F4F4ED;
	border:10px double #FFFFFF;
	float:left;
	padding:10px;
	text-align:left;
}

div.external_overlay div
{
	float:left;
	margin-left:20px;
	width:287px;
}

div.external_overlay img
{
	float:left;
	margin-left:10px;
}

div.external_overlay p span
{
	display:inline-block;
	font-weight:bold;
	margin-right:10px;
	text-align:right;
	width:50px;
}

div.external_overlay p.heldBy
{
	margin:0 0 19px !important;
}

div.external_overlay p.post
{
	border-bottom:2px dashed #FFFFFF;
	font-family:Georgia;
	font-size:22px;
	font-weight:normal;
	padding-bottom:10px;
	text-align:center;
}

div.facebook #pp_full_res .pp_inline
{
	float:left !important;
}

div.facebook .pp_content_container .pp_right,div.facebook .pp_content_container .pp_left
{
	background:none !important;
}

div.heldBy,.boxBody div,div.hide
{
	display:none;
}




div.treemapCell
{
	background-image:url("white_alpha.png");
	border-color:#EEEEEE !important;
	color:white;
	font-size:0.7em;
	font-weight:bold;
}



h4
{
	color:#23A4FF;
	font-size:1.1em;
	font-weight:normal;
	text-decoration:none;
}



/*
h1.title span#post {
background-color:#EEEEEE;
border-right:2px ridge #FFFFFF;
color:#333333;
}
h1.title span#unit {
background-color:#DDDDDD;
border-right:2px ridge #EEEEEE;
color:#333333;
cursor:pointer;
}
h1.title span#dept {
background-color:#CCCCCC;
color:#333333;
cursor: pointer;
}
h1.title span:hover {
text-decoration:underline;
} 
h1.title span#post:hover {
text-decoration:none;
} */
input,select
{
	font-size:0.9em;
}

span.external_posts_title
{
	display:none;
	float:right;
	font-family:Georgia;
	font-weight:bold;
	padding:5px 0;
	text-align:left;
	width:257px;
}

span.showList
{
	cursor:pointer;
	padding:3px;
}

span.showList:hover
{
	background-color:#333333;
	color:#FFFFFF;
	cursor:pointer;
}

table
{
	margin-left:7px;
	margin-top:-10px;
}

ul#tabMenu
{
	background-color:#CCCCCC;
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
	color:#333333;
	height:100%;
	list-style:none outside none;
	margin:0;
	padding:0;
	position:absolute;
	right:0;
	width:30px;
}

ul#tabMenu li
{
	cursor:pointer;
	float:right;
	padding-bottom:3px;
	padding-top:3px;
	text-align:center;
	width:30px;
}

ul#tabMenu li.selected
{
	background-color:#FFFFFF;
	background-position:0 0;
	color:#222222;
}

ul#tabMenu li:hover
{
	background-color:CornflowerBlue;
	color:#FFFFFF;
}

ul.external_posts
{
	display:none;
	float:right;
	font-family:Georgia;
	font-weight:normal;
	list-style:square outside none;
	margin:0;
	padding:0;
	text-align:left;
	width:265px;
	word-wrap:break-word;
}

ul.external_posts li
{
	margin-left:5px;
}

ul.external_posts li a.post
{
	background-color:#FFFFFF;
	color:#802323;
	display:block;
	font-weight:normal;
	margin-top:0;
	padding-bottom:0;
	padding-right:0;
	padding-top:0;
	text-align:left;
	text-decoration:none;
}