@import url("custom-theme-purple/jquery-ui-1.8.9.custom.css");
@import url("jgrowl.css");
@import url("ie.css");

html,body
{
	background:url('../images/body_bg_big.png') repeat scroll 0 0 #CCCCCC;
	font-family:"Lucida Grande", Verdana;
	font-size:0.9em;
	margin:0;
	padding:0;
	text-align:center;
}

div.noscript {
    -moz-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0 0 25px #717171;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px #717171;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 0 25px #717171;    
    background-color: #F1CBCB;
    background-image: url("../images/error.png");
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 5px solid #9C4848;
    color: #7E2020;
    left: -70px;
    margin: 200px auto auto;
    padding: 10px 10px 10px 70px;
    position: relative;
    text-align: left;
    width: 300px;
}
div.noscript p {

}

.clear
{
	clear:both;
	margin:0;
	padding:0;
}

/* Breadcrumbs */
h1.title
{
    -moz-box-shadow: 0 5px 24px #888888;
    box-shadow: 0 5px 24px #888888;
    -webkit-box-shadow: 0 5px 24px #888888;
    background-color: #000000;
    background-image: url("../images/hmg-banner.png");
    background-position: left center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #666666;
    color: #FFFFFF;
    font-size: 16px;
    height: 33px;
    left: 0;
    margin: 0 0 0 -1px;
    min-height: 30px;
    overflow: hidden;
    padding-left: 200px;
    padding-right: 0px;
    padding-top: 0 !important;
    position: fixed;
    right: 0;
    text-align: left;
    top: 0;
    width: auto;
    z-index: 8881;
}
body.IE8 h1.title {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=180, Color='#777777')";
}
body.IE7 h1.title {
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=180, Color='#777777');
}
h1.title button
{
	display:inline-block;
	font-size:11px;
	height:24px !important;
	margin-right:3px;
	margin-top:4px;
	opacity:0;
	overflow:hidden;
	padding:0 8px;
	visibility:hidden;
}
body.IE7 h1.title button {
	display:inline-block;
	font-size:11px;
	height:24px !important;
	margin-right:3px;
	margin-top:4px;
	opacity:0;
	overflow:visible;
	padding:0 8px;
	visibility:hidden;
}
h1.title span
{
	margin-right:5px;
}
h1 .ui-selectmenu-menu li a, .ui-selectmenu-status {
    line-height: 15px;
}
div.tip
{
	font-size:11px;
	font-weight:normal;
	opacity:1px;
	padding:10px;
	position:fixed;
	text-align:justify;
}

/*.tooltip
{
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topright:5px;
	background-color:cornflowerBlue;
	color:#333333;
	display:none;
	left:0;
	padding:3px 0 3px 4px;
	position:fixed;
	top:0;
	z-index:3;
}

.tooltip span
{
	-moz-border-radius:3px;
	background-color:#FFFFFF;
	color:#FFFFFF;
	display:inline-block;
	margin-bottom:3px;
	margin-right:5px;
	padding-bottom:30px;
	padding-left:3px;
	padding-right:3px;
}
*/
a
{
	color:#111111;
	text-decoration:none;
}
/*
a:hover {
	text-decoration: underline;
}*/

a.close
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px 5px 5px 5px;
	background-color:#CCCCCC;
	border-radius:5px 5px 5px 5px;
	color:#333333;
	cursor:pointer;
	font-size:10px;
	padding:1px 5px 2px;
	position:absolute;
	right:7px;
	top:7px;
	margin:0 !important;
}

a.close:hover
{
	background-color:#333333;
	color:#CCCCCC;
}

a.return,a.return:hover
{
	color:#FFFFFF;
}

a:focus
{
	outline:none;
}

div#log
{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    -moz-box-shadow: 0 5px 24px #888888;
    box-shadow: 0 5px 24px #888888;
    -webkit-box-shadow: 0 5px 24px #888888;	
    background-color: #000000;
    /*border: 3px solid #DDDDDD;*/
    color: #EEEEEE;
    display: none;
    font-size: 13px;
    font-weight: bold;
    left: -55px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    text-align: center;
    top: 80px;
    width: 200px;
}
body.IE8 div#log {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=225, Color='#777777')";
}
body.IE7 div#log {
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=225, Color='#777777');
}
#log img
{
	margin-left:0;
	margin-top:10px;
}

#log span
{
	display:block;
	float:none;
}

#log-wrapper
{
	margin:0;
	padding:0;
	position:absolute;
	text-align:center;
	top:0;
	width:100%;
	z-index:9999;
}

/* Right panel */
div#right
{
    -moz-border-radius: 10px 0px 0px 10px;
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-box-shadow: 0 5px 24px #888888;
    box-shadow: 0 5px 24px #888888;
    -webkit-box-shadow: 0 5px 24px #888888;
    background-color: #000000;
    bottom: 15px !important;
    color: #EEEEEE;
    font-size: 10px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 30px;
    position: fixed;
    right: 0;
    top: 55px !important;
    width: 110px;
    z-index: 8888;
    display: none;
}
body.IE8 div#right {
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=225, Color='#777777')";
}
body.IE7 div#right {
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=8, Direction=225, Color='#777777');
}
body.IE6 div#right {
	display:none;
}
div#right p {
	text-shadow:1px 1px #111111;
	margin-top:25px;
}
/* Controls */
div#right .ui-buttonset
{
	margin-bottom:15px;
	margin-right:2px !important;
}

div#right .ui-buttonset p
{
	margin:3px 0;
	padding:0;
}

div#right > *
{
	visibility:hidden;
}

div#right select
{
	display:inline-block !important;
	margin-top:5px;
}

div#right ul
{
	list-style-type:none;
	margin:0;
	padding:0;
}

div#right ul li
{
	background:none repeat scroll 0 0 #555555;
	margin:auto auto 1px;
	width:70px;
}

div#right ul li a
{
	background:none repeat scroll 0 0 #555555;
	color:#FFFFFF;
	cursor:pointer;
	display:block;
	height:100%;
	padding-bottom:5px;
	padding-top:5px;
	text-decoration:none;
	width:100%;
}

div#right ul li a:hover
{
	background:none repeat scroll 0 0 #FFFFFF;
	color:#333333 !important;
}

div#right ul li p
{
	font-size:10px;
	margin:0;
	padding-bottom:5px;
	padding-top:5px;
	text-decoration:none;
}




/* Data Sources Panel */
div#apiCalls
{
    bottom: 0;
    display: none;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 90px;
    z-index: 9999;
}

div#apiCalls a.source
{
	display:block;
	margin-bottom:2px;
	margin-left:auto;
	margin-right:auto;
	width:30px;
}

div.apiCall
{
/*
	-moz-border-radius:10px;
	-moz-box-shadow:0 5px 24px #888888;
	-webkit-box-shadow:0 5px 24px #888888;
	background-color:#FFFFFF;
	border:1px solid #DDDDDD;
	border-radius:10px 10px 10px 10px;
	bottom:20px;
	box-shadow:0 5px 24px #888888;
	color:#333333;
	display:none;
	font-size:11px;
	height:auto;
	opacity:1px;
	overflow-x:hidden;
	overflow-y:auto;
	padding:25px 20px;
	position:fixed;
	right:125px;
	text-align:left;
	width:300px;
	z-index:9999;*/
	font-size:11px;	
	text-align:left;	
}
div.apiCall p {
text-shadow: none;
}
div.apiCall p span
{
	border-bottom:1px solid #EEEEEE;
	display:block;
	font-weight:bold;
}

div.apiCall p.formats a
{
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 10px;
    padding-bottom: 0;
    padding-top: 0;
    width: 59px;
}

div.apiCall p.formats a span
{
	border:none !important;
}
div.apiCall p.params
{
	margin-bottom:5px;
}
div.apiCall p.title, div.apiCall p.description
{
	margin-bottom:15px;
}
div.apiCall p.url
{
	margin-bottom:15px;
	word-wrap:break-word;
}

div.apiCall p.url a
{
	color:#111111;
	text-decoration:none;
}

/*div.apiCall p.url a:hover
{
	text-decoration:underline;
}
*/
div.apiCall ul.paramlist
{
	list-style-type:disc;
	margin-bottom:15px;
	margin-left:15px;
	padding: 0;
}
div.apiCall ul.paramlist li
{
	background:none;
	margin:0;
	width:auto;
	word-wrap:break-word;
}

div#apiCalls p
{
	margin:0;
	padding:0;
}

div#apiCalls p.label
{
	margin:0 0 10px;
}

div#formats
{
	bottom:0;
	display:block;
	position:fixed;
	right:0;
}

div#formats a
{
	background:none repeat scroll 0 0 #FFFFFF;
	border-color:#EEEEEE #-moz-use-text-color #-moz-use-text-color #EEEEEE;
	border-style:solid none none solid;
	border-width:1px medium medium 1px;
	color:#802323;
	cursor:pointer;
	display:inline-block;
	float:right;
	padding:5px;
	width:30px;
	z-index:99999;
}

div#formats a:hover
{
	background:none repeat scroll 0 0 #802323;
	color:#FFFFFF;
}

.ui-widget-overlay { background: #333333; opacity: .80;filter:Alpha(Opacity=80); }

span#previewModeSign {
    background-color: yellow;
    background-image: url("../images/previewMode.png");
    background-position: left bottom;
    background-repeat: repeat-x;
    border-top: 1px solid #333333;
    bottom: 0;
    display: none;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    left: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 999;
    box-shadow: 10px 10px 25px #000000;
    -moz-box-shadow: 10px 10px 25px #000000;
    -webkit-box-shadow: 10px 10px 25px #000000;
}
span#previewModeSign span {
    background-color: black;
    color: #FFFFFF;
    display: block;
    height: 20px;
    left: -55px;
    line-height: 16px;
    margin: 0 auto;
    padding: 2px 20px 3px;
    position: relative;
    text-transform: uppercase;
    width: 155px;
}
body.IE6 {

}
div.ieBanner {
clear: both; 
height: 59px; 
padding:15px; 
position: relative;
margin-top:15%;
background-color: #000000;
border:5px solid #444444;
color:#FFFFFF;
width:1000px;
}

div.ui-widget-overlay {
    height: 100% !important;
    left: 0 !important;
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    opacity: 0.4 !important;
}
div.ui-dialog {
	position: fixed !important;
}

/* Selectmenu
----------------------------------*/
.ui-selectmenu { 
    display: inline-block;
    float: right;
    height: 20px;
    margin-left: 0;
    margin-right: 5px;
    margin-top: 6px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}
.ui-selectmenu.ui-state-active {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #AAAAAA;
    color: #FFFFFF;
    font-weight: normal;
}
.ui-selectmenu-icon { 
    margin-top: -8px;
    position: absolute;
    right: 6px;
    top: 50%;
    margin-right: 0px;
    cursor: pointer;
}
.ui-selectmenu-menu { 
	background:#444444;
	display: none;
    font-size: 11px;
    list-style: none outside none;
    margin: 0;
    overflow: auto;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 0;
    z-index: 9999;
}
.ui-selectmenu-open { display: block; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown {
    max-height: 300px;
    height:expression( this.scrollHeight > 299 ? "300px" : "auto" );
    overflow-y: auto;
}
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li.ui-state-hover {
	background: #EEEEEE;
}
.ui-selectmenu-menu li.ui-state-hover a {
	color:#333333;
}
.ui-selectmenu-menu li a,.ui-selectmenu-status {
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    line-height: 15px;
    outline: medium none;
    overflow: hidden;
    padding: 3px 3px 3px 5px;
    text-decoration: none;
}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { 
font-size: 11px;
}
.ui-selectmenu-open li.ui-selectmenu-item-focus a {  }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content {  }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/*for optgroups*/
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label {
    background-color: #645D70;
    border-bottom: 1px solid #77737A;
    border-top: 1px solid #7B6B88;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    padding: 3px 0 3px 6px;
}
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }
.ui-selectmenu-menu .ui-selectmenu-group ul li a {
padding-left:5px;
}