<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>RDF to JSON endpoint</display-name>
  
  <!-- SERVLETS -->

  <servlet>
    <servlet-name>rdfToJSON</servlet-name>
    <servlet-class>com.epimorphics.jsonrdf.servlets.RDFtoJSON</servlet-class>
  </servlet>

  <servlet>
      <servlet-name>jersey</servlet-name>
      <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
      <init-param>
          <param-name>javax.ws.rs.Application</param-name>
          <param-value>com.epimorphics.restful.api.APIApplication</param-value>
      </init-param>
      
    <init-param>
      <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
      <param-value>com.epimorphics.restful.workarounds.POSTReplaceFilter</param-value>
    </init-param>  
      
    <init-param>
      <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
      <param-value>com.epimorphics.restful.support.SDX_URI_ConnegFilter</param-value>
    </init-param>
             
  </servlet>

  <servlet>
    <servlet-name>api-loader</servlet-name>
    <servlet-class>com.epimorphics.restful.api.GAELoader</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- MAPPINGS -->
  <servlet-mapping>
    <servlet-name>rdfToJSON</servlet-name>
    <url-pattern>/rdfToJSON</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>jersey</servlet-name>
    <url-pattern>/proxy/*</url-pattern>
  </servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
