h1.title label {
    background-color: #534D62;
    border: 1px solid #777777;
    border-radius: 5px 5px 5px 5px;
    display: block;
    float: right;
    font-family: Verdana,Arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin: 6px -15px 0 0;
    padding: 3px 20px 2px 10px;
    position: relative;
    z-index: -1;
}
body.IE8 h1.title label {
    padding: 3px 20px 4px 10px;
}
body.IE7 h1.title label {
	background:none;
	border: none;
    display: block;
    float: right;
    font-family: Verdana,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    margin: 8px 0 0 0;
    padding: 3px 5px 2px 0px;
    position: relative;
}
h1.title span {
	margin-right:0px;
}
body.IE7 h1.breadcrumbs  {
    -moz-box-shadow: 0 5px 24px #888888;
    box-shadow: 0 5px 24px #888888;
    -webkit-box-shadow: 0 5px 24px #888888;
    background-color: #111111;
    background-image: url("../images/hmg-banner.png");
    background-position: left center;
    background-repeat: no-repeat;
    border-bottom: 1px solid #666666;
    color: #FFFFFF;
    font-size: 16px;
    height: 33px;
    margin: 0 0 0 -1px;
    min-height: 30px;
    padding-left: 200px;
    padding-top: 1px !important;
    text-align: left;
    top: 0;
    width: auto;
    z-index: 8881;
	position: fixed;
	overflow:visible;
	right:0px;
	left:0px;
}
h1.title button {
display: none;
}
h1.title select {
    float: right;
    position: relative;
    top: 7px;
    margin-right: 10px;
}
body.IE7 h1.title select {
    /*right: 0px;
    position: fixed;
    margin-right: 10px;*/
    float:right;
    top: -23px;
    margin-right: 20px;
    padding: 0;
}
body.IE7 h1.title label {
	/*position:fixed;
	right:0px;*/
	top: -28px;
    margin-right: 10px;
    padding: 0;
    float: right;	
}
body.IE7 h1.title select#filterBy {
    width: 300px;
}
/*body.IE7 h1.title select#sortBy {
    margin-right: 230px;
}

body.IE7 h1.title label.sortBy {
    margin-right: 300px;
}
body.IE7 h1.title label.loadBy {
    margin-right: 168px;
}
body.IE7 h1.title label.filterBy {
    margin-right: 500px;
}*/


#infovis {
    left: 10px;
    margin: auto;
    position: absolute;
    right: 115px;
    top: 35px;
}
#infovis div.postHolder {
    height: auto !important;
}
#infovis div.post {
	border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    background: none repeat scroll 0 0 #FAFAFA;
    border: 3px solid #FFFFFF;
    float: left;
    height: 315px;
    margin: 10px;
    overflow:hidden;
    padding: 0;
    width: 220px;
}
#infovis div.post:hover {
border:3px solid #000000;
cursor: pointer;
}
#infovis div.post:active {
opacity:0.7;
}
#infovis div.post h3 {
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;    
    background: none repeat scroll 0 0 #333333;
    color: #EEEEEE;
    font: 300 12px/22px "Helvetica Neue",Helvetica,"Arial Unicode MS",Arial,sans-serif;
    height: 45px;
    margin: 0;
    padding: 0 10px;
    overflow: hidden;
}
#infovis div.post div.image {
    background: none repeat scroll 0 0 #555555;
    display: block;
    padding: 10px;
} 
#infovis div.post img {
    background-color: #EEEEEE;
    margin: 0;
    padding: 5px;
    width: 130px;
}
#infovis div.post p.name {
    background-position: 50% 55% !important;
    color: #FFFFFF;
    font: 300 110.01%/1.5 "Helvetica Neue",Helvetica,"Arial Unicode MS",Arial,sans-serif;
    height: 23px;
    margin: 0;
    overflow: hidden;
    padding-bottom: 3px;
    padding-top: 3px;
    text-shadow: -1px -1px #3A1B67;
}
#infovis div.post p.comment {
    font-size: 10px;
    height: 75px;
    margin: 0;
    overflow-y: auto;
    padding: 5px;
    text-align: justify;
    display: none;
}
#infovis div.post ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
#infovis div.post table {
    background: none repeat scroll 0 0 #555555;
    border: 0 solid #AEAAB4;
    border-collapse: collapse;
    font-size: 11px;
    height: 120px;
    text-align: left;
    width: 100%;
}
#infovis div.post table tr {

}
#infovis div.post table tr.odd {
	background: none repeat scroll 0 0 #F6F6F6;
}
#infovis div.post table tr.even {
    background: none repeat scroll 0 0 #FFFFFF;
}
#infovis div.post table tr.end {
}
#infovis div.post table tr td {
    margin: 0;
    padding: 2px 2px 2px 5px;
    vertical-align: middle;
}
#infovis div.post table tr td.label {
    border-right: 1px solid #E8E4E4;
    color: #AAAAAA;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    text-align: right;
    width: 45px;
}
#infovis div.post ul li {
    font-size: 11px;
    padding: 2px;
}
#infovis div.post ul li span.label {

}
div.noPosts {
    -moz-border-radius: 10px 10px 10px 10px;
    -moz-box-shadow: 0 0 25px #717171;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px #717171;
    -webkit-border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 0 25px #717171;    
    background-color: #F1F1CB;
    background-image: url("../images/warning.png");
    background-position: 20px center;
    background-repeat: no-repeat;
    border: 5px solid #BFBF97;
    color: #000000;
    display: none;
    left: 33%;
    padding: 10px 10px 10px 70px;
    position: fixed;
    text-align: left;
    top: 35%;
    width: 20%;
}
div.padder {
	display: block;
	margin-bottom:50px;
}
div.qs-overlay {
	display: none;
    top: 34px;
    z-index: 9998;
    position: fixed;
    left:0;
}
div.qs-overlay-div {
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: #000000;
    border: 3px solid #777777;
    display: none;
    height: 60px;
    left: 43%;
    opacity: 1;
    padding: 10px;
    position: fixed;
    text-align: center;
    top: 43%;
    width: 10%;
    z-index: 9999;      
}
div.qs-overlay-div p {
    color: #FFFFFF;
    font-size: 15px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    text-align: center;
}
div.qs-overlay-div img {
	padding: 5px;
}
a#filterBy-button {
	width:220px !important;
}
a#loadBy-button {
	width:140px !important;
}
a#sortBy-button {
	width:120px !important;
}